{{ define "main" }}
  {{- with .Params.summary -}}
    <p>{{- . -}}</p>
  {{- end -}}
  <h2>{{ i18n "sections" }}</h2>
  {{- range .Sections }}
    {{- partial "sectiontree.html" (dict "page" .) -}}
  {{- end }}
  <h2>{{ i18n "taxonomies" }}</h2>
  {{- range $taxonomy, $terms := .Site.Taxonomies -}}
    {{- with . -}}
      <h3>
        <a href="{{- .Page.RelPermalink -}}">{{ .Page.Title }} </a>
      </h3>
      {{- range . }}
        <label>
          <a href="{{- .Page.RelPermalink -}}">{{- .Page.Title -}}</a>
        </label>
      {{ end -}}
    {{- end -}}
  {{- end -}}
  <h2>{{ i18n "about" }}</h2>
  <article>
    {{ .Content }}
  </article>
{{ end }}
