{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{- with .Page.Params.summary -}}
    <p>{{- . -}}</p>
  {{ end -}}
  <article>
    {{- range .Data.Terms }}
      <h2 id="term-{{- .Page.Title -}}">
        <a class="sectionlink" href="{{- .Page.RelPermalink -}}"
          >{{- .Page.Title -}}</a
        >
      </h2>
      {{- with .Page.Params.summary -}}
        <p>{{- . -}}</p>
      {{ end -}}
      <ul>
        {{- $limit := default 3 site.Params.PostPerTermLimit -}}
        {{- range .Pages | first $limit -}}
          <li>
            <a
              class="pagelink"
              aria-label="post link to {{ .Title | plainify -}}"
              href="{{- .RelPermalink -}}"
            >
              {{- .Title -}}</a
            >
            {{- with .Date }}
              {{ .Format (default "2006/01/02" $.Site.Params.DateFormat) -}}
            {{ end }}
            {{- with .Params.summary -}}
              <p>{{- . -}}</p>
            {{- end -}}
          </li>
        {{ end -}}
        {{- if le ( len .Pages ) $limit -}}
        {{- else -}}
          <li style="list-style: none">...</li>
        {{- end -}}
      </ul>
    {{- end -}}
  </article>
{{ end }}
