{{ define "main" }}
  <strong>{{ .Title }}</strong>
  {{- with .Page.Params.summary -}}
    <p>{{- . -}}</p>
  {{ end -}}
  <article>
    {{ .Content }}
    {{- range .Pages -}}
      <h2>
        <a href="{{- .Page.RelPermalink -}}">{{- .Page.Title -}}</a>
      </h2>
      {{- with .Page.Params.summary -}}
        <p>{{- . -}}</p>
      {{ end -}}
      {{- $limit := default 1 site.Params.PostPerTermLimit -}}
      <ul>
        {{- range .Pages | first $limit -}}
          <li>
            <a href="{{- .RelPermalink -}}"> {{- .Title -}}</a>
            {{- with .Params.summary -}}
              <p>{{- . -}}</p>
            {{- end -}}
          </li>
        {{ end -}}
        {{- if le ( len .Pages ) $limit -}}
        {{- else -}}
          <li style="list-style: none">...</li>
        {{- end -}}
      </ul>
    {{- end -}}
  </article>
{{ end }}
